<h1>Lighthouse Forum</h1>
<hr>
<%=link_to "Create a post!", new_post_path%>
<% @posts.each do |post| %>
  <h2><%=post[:title]%></h2>
  <p><%=post[:text]%></p> 
  <small><p><%=post[:author]%></p></small>
<%end%>
